# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [2]:
import numpy as np
import pandas as pd

nba = pd.read_csv("nbastats2018-2019.csv")
nba

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Trae Young,74,180,Atlanta Hawks,20,5356440,19.1,0.2,0.9,8.1,...,30.9,81,17.0,2.5,0.7,3.3,0.062,28.4,-1.1,0.6
517,Cody Zeller,84,240,Charlotte Hornets,26,13528090,10.1,0.8,0.8,2.1,...,25.4,49,17.2,2.6,1.2,3.9,0.150,16.3,2.0,1.2
518,Tyler Zeller,84,253,Atlanta Hawks,29,106974,7.7,0.5,0.2,0.7,...,15.5,6,17.3,0.2,0.1,0.3,0.167,20.1,-2.2,0.0
519,Ante Zizic,83,254,Cleveland Cavaliers,22,1952760,7.8,0.4,0.2,0.9,...,18.3,59,16.2,1.7,0.3,2.0,0.087,18.2,-3.1,-0.3
520,Ivica Zubac,85,240,Los Angeles Clippers,21,1544951,8.9,0.9,0.2,1.1,...,17.6,59,18.9,1.9,1.3,3.2,0.148,20.3,-0.3,0.5

In [3]:
nba["Age"].mean()

25.900191938579656

# What player scored the most points?

In [ ]:
#Question: Is there a better way to do this?

In [8]:
nba["Points"].max()

nba.loc[nba["Points"] == 36.1]

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
202,James Harden,77,220,Houston Rockets,29,30431854,36.1,0.7,2.0,7.5,...,36.8,78,30.6,11.4,3.8,15.2,0.254,40.5,11.7,9.9

# What player had the most blocks during the season? Was it a post player (F/C)?

In [ ]:
#QUESTION: WHAT IS A POST PLAYER?

In [24]:
nba["Blocks"].max()
nba.loc[nba["Blocks"] == 2.7]

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
476,Myles Turner,83,250,Indiana Pacers,22,3410284,13.3,2.7,0.8,1.6,...,28.6,74,18.0,1.9,4.4,6.3,0.144,20.0,3.3,2.8

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [29]:
nba["WP"] = nba["WS"]/nba["G"]
nba["WP"].max()
nba.loc[nba["WP"] == 0.2]

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,WP
15,Giannis Antetokounmpo,83,242,Milwaukee Bucks,24,24157304,27.7,1.5,1.3,5.9,...,72,30.9,8.9,5.5,14.4,0.292,32.3,10.8,7.6,0.2

# What player had the best 3-pt percentage?

In [35]:
nba.columns
nba["FG3%"].max()
nba[["Name","FG3%"]].loc[nba["FG3%"] == 1.0]

              Name  FG3%
147   Trevon Duval   1.0
312  Scott Machado   1.0
352  Eric Moreland   1.0
439  Jordan Sibert   1.0

# Who played the most minutes during the season

In [38]:
nba["MP"].max()
nba.loc[nba["MP"] == 36.9]

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,WP
37,Bradley Beal,77,207,Washington Wizards,25,25434263,25.6,0.7,1.5,5.5,...,82,20.8,5.9,1.7,7.6,0.120,28.4,2.8,3.7,0.092683
179,Paul George,81,220,Oklahoma City Thunder,28,30560700,28.0,0.4,2.2,4.1,...,77,23.3,7.0,4.9,11.9,0.201,29.5,5.5,5.3,0.154545

# What player given their player effiecency rating was the clutchest during the season?

In [41]:
nba["PER"].max()
nba.loc[nba["PER"] == 80.4]

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,WP
405,Zhou Qi,85,210,Houston Rockets,23,506134,2.0,0.0,0.0,0.0,...,1,80.4,0.0,0.0,0.0,1.261,43.4,9.5,0.0,0.0

# What team had the youngest roster?

In [43]:
#Chicago Bulls
team_age = nba[["Team", "Age"]].groupby("Team").mean()
team_age.sort_values("Age")

                              Age
Team
Chicago Bulls           24.312500
Sacramento Kings        24.400000
Orlando Magic           24.533333
New York Knicks         24.625000
Phoenix Suns            24.761905
Portland Trail Blazers  24.857143
Indiana Pacers          25.058824
Denver Nuggets          25.266667
Brooklyn Nets           25.555556
Boston Celtics          25.600000
Memphis Grizzlies       25.647059
Oklahoma City Thunder   25.750000
New Orleans Pelicans    25.777778
Cleveland Cavaliers     26.000000
Charlotte Hornets       26.000000
Detroit Pistons         26.266667
Philadelphia 76ers      26.352941
Atlanta Hawks           26.476190
Los Angeles Lakers      26.625000
Minnesota Timberwolves  26.625000
Washington Wizards      26.764706
Milwaukee Bucks         26.928571
Los Angeles Clippers    27.105263
Utah Jazz               27.133333
Toronto Raptors         27.166667
Golden State Warriors   27.866667
Dallas Mavericks        27.866667
Houston Rockets         27.923077
San Antonio Spurs       28.133333
Miami Heat              28.181818

# Who is the highest paid player during the seasion?

In [ ]:
#Question: Why is this incorrect?

In [65]:
nba.sort_values("Salary", ascending = False)

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,WP
255,John Jenkins,76,215,Washington Wizards,27,99290,4.7,0.1,0.0,0.8,...,26,9.7,0.2,0.0,0.2,0.031,15.7,-5.2,-0.3,0.007692
188,Devonte' Graham,74,185,Charlotte Hornets,23,988464,4.7,0.0,0.5,2.6,...,46,10.3,0.2,0.3,0.5,0.035,17.0,-4.3,-0.4,0.010870
402,Dwight Powell,83,240,Dallas Mavericks,27,9631250,10.6,0.6,0.6,1.5,...,77,20.4,5.6,1.9,7.5,0.215,17.2,4.0,2.5,0.097403
129,Matthew Dellavedova,76,200,Cleveland Cavaliers,28,9607500,5.9,0.0,0.3,3.8,...,48,11.1,0.5,0.0,0.5,0.028,17.9,-5.5,-0.7,0.010417
157,Dante Exum,78,190,Utah Jazz,23,9600000,6.9,0.1,0.3,2.6,...,42,11.2,0.2,0.7,1.0,0.069,21.3,-4.0,-0.3,0.023810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Tyler Cavanaugh,81,238,NaN,24,-,0.8,0.0,0.0,0.1,...,11,5.0,0.0,0.0,0.0,0.026,13.0,-6.9,0.0,0.000000
92,Alex Caruso,77,186,NaN,24,-,9.2,0.4,1.0,3.1,...,25,13.9,0.5,0.6,1.0,0.093,19.0,-0.9,0.2,0.040000
292,Damion Lee,78,210,NaN,26,-,4.9,0.0,0.4,0.4,...,32,11.9,0.3,0.4,0.7,0.090,16.8,-3.6,-0.2,0.021875
293,Walt Lemon Jr.,75,180,NaN,26,-,14.3,0.2,1.8,5.0,...,6,16.3,-0.1,0.2,0.1,0.026,26.6,-1.4,0.0,0.016667
175,Billy Garrett,78,213,NaN,24,-,6.5,0.3,0.3,1.8,...,4,9.8,0.0,0.0,0.0,-0.019,20.9,-8.4,-0.1,0.000000

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [66]:
nba.columns

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP', 'WP'],
      dtype='object')

In [69]:
nba["FT%"].min()
bad_players = nba.loc[nba["FT%"] == 0.0]
bad_players[["Name", "FT%"]]

                   Name  FT%
154         Jacob Evans  0.0
221   Haywood Highsmith  0.0
268      Terrence Jones  0.0
325      Tahjere McCall  0.0
356  Donatas Motiejunas  0.0
360         Dzanan Musa  0.0
502       C.J. Williams  0.0